/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(201, 160, 235);
	
}




/* 2. Content ================================= */

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	p {
		font-size: 3vw;
		font-family: Baskerville, serif;
	}
	h1{
		font-size: 20vw;
		font-family: Baskerville, serif;
		font-style: italic;
		color: deeppink;
		text-shadow: 1px 10px 25px rgb(0, 0, 0, .2), 2px 40px 25px rgb(0, 0, 0, .2), 4px 10px 25px rgb(0, 0, 0, .2);
	}
}